dataDir={{ data_dir }}
dataLogDir={{ data_log_dir }}
preAllocSize={{ prealloc_size | default("65535") }}
snapCount={{ snap_count | default("100000") }}
syncEnabled={{ sync_enabled | default("true") }}
forceSync={{ force_sync | default("yes") }}
autopurge.snapRetainCount={{ autopurge_snap_retain_count | default("3") }}
autopurge.purgeInterval={{ autopurge_interval | default("2") }}
tickTime={{ tick_time | default("2000") }}
initLimit={{ init_limit | default("5") }}
syncLimit={{ sync_limit | default("10") }}
minSessionTimeout={{ min_session_timeout | default("4000") }}
maxSessionTimeout={{ max_session_timeout | default("40000") }}
globalOutstandingLimit={{ global_outstanding_limit | default("1000") }}
quorumListenOnAllIPs={{ quorum_listen_on_all_ip | default("false") }}
maxClientCnxns={{ max_client_connections | default("0") }}
cnxTimeout={{ cnx_timeout | default("5") }}
electionAlg={{ election_algorithm | default("3") }}
leaderServes={{ leader_serves_clients | default("yes") }}
localSessionsEnabled={{ local_sessions_enabled | default("true")}}
localSessionsUpgradingEnabled={{ local_sessions_upgrading_enabled | default("true")}}
admin.enableServer={{ admin_server | default("true") }}
admin.serverAddress=0.0.0.0
admin.serverPort=8080
admin.commandURL={{ admin_url | default("/commands") }}
{% if standalone is defined and not standalone %}
standaloneEnabled=false
dynamicConfigFile=/etc/zookeeper/zoo.cfg.dynamic
reconfigEnabled={{ reconfig_enabled | default("true") }}
{% else %}
standaloneEnabled=true
clientPort=2181
clientPortAddress=0.0.0.0
{% endif %}
